<%- include('partials/header') %>

<h3>Live Chat Room</h3>
<p>Users in the room:</p>
<ul id="chatters"></ul>
<input type="text" id="avatar" hidden name="avatar" value="<%= user.avatar %>">
<input type="text" hidden name="username" value="<%= user.name %>" id="username">
<input type="text" id="message">
<a class="btn btn-info" href="#" id="send_message">Send Message</a>
<p id="isTyping"></p>
<div id="chatroom"></div>
<% chats.forEach(chat => { %>
  <p><img id="avatarPhoto" height="30" src="<%= chat.avatar %>" alt=""> <%= chat.username %>: <%= chat.message %> - (<%= chat.createdAt.toLocaleString() %>)</p>
<% }) %>

<script src="/scripts/chat.js"></script>
<%- include('partials/footer') %>