<%- include('../partials/header') %>

<h3>New Game Page</h3>
<form action="/games/search" method="POST">
  <div class="form-row">
    <div class="col-md-4">
      <input type="text" class="form-control" name="query" placeholder="Search for game...">
    </div>
  </div>
  <button type="button" class="btn btn-success">Search</button>
</form>

<% if (results) { %>

  <% results.forEach(game => { %>
    <div class="card" style="width: 18rem;">
      <img src="<%= game.background_image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= game.name %> </h5>
        <p class="card-text">Released: <%= game.released %></p>
        <p class="card-text">Platform: <%= game.platforms[0].platform.name %></p>
        <p class="card-text">Metacritic Score: <%= game.metacritic %></p>
        <a href="#" class="btn btn-primary">Add to Collection</a>
      </div>
    </div>
  <% }) %>

<% } %> 

<%- include('../partials/footer') %>