<%- include('../partials/header') %>

<h3>Game Details Page</h3>
<video width="480" height="320" controls="controls">
  <source src="<%= game.clip.clips.full %>" type="video/mp4">
</video>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= game.name %> </h5>
    <p class="card-text">Released: <%= game.released %></p>
    <p>Platforms:</p>
    <% game.platforms.forEach(p => { %>
      <p class="card-text"><%= p.platform.name %></p>
    <% }) %>
    <p class="card-text">Metacritic Score: <%= game.metacritic ? game.metacritic : 'N/A' %></p>
    <a href="" class="btn btn-warning">Add to Collection</a>
  </div>
</div>

<%- include('../partials/footer') %>